#include <iostream>
#include <fstream>

%Code%

signed main() {
    ios::sync_with_stdio(false);
    cin.tie(nullptr);
    cout.tie(nullptr);
    %Input%
    %Output%

    %ClassName% solver;
    %SolverCall%
    return 0;
}
